<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198367418692-iforpamjblv5rr566odoj1b3ntf6crpm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198367418692-iforpamjblv5rr566odoj1b3ntf6crpm</string>
	<key>API_KEY</key>
	<string>AIzaSyBW0sNj1CszrM7MFvEm6OM-BiyZS-oxVR4</string>
	<key>GCM_SENDER_ID</key>
	<string>198367418692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceAudio.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>e-commere-35ccb</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commere-35ccb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198367418692:ios:1e0cf7e5c891d5d148df11</string>
</dict>
</plist>